@import "./../fonts/Gilroy/stylesheet.css";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1e1e1e;
  --text-muted: #8d8d8d;
  --text-card-dark-blue: #0d1b39;
  --accent: #e58411;
  --header-text-color: #fff;
  --footer-accent: #f6973f;
  --footer-bg: #2d2f33;
  --footer-TextColor: #fff;
  --ui-orange: #e58411;
  --ui-turquoise: #00d6c9;
  --ui-turqgrayuoise: #7c7c7c;
  --ua-dark-blue: #0d1b39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

html,
body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-top: 40px;
  background-color: var(--footer-bg);
  background-image: url("./../img/header/header-bg.jpg");
  aspect-ratio: 1440/1084;
  background-size: cover;
  color: var(--header-text-color);
  /* Dots */
}
.header a {
  color: var(--header-text-color);
}
.header__title {
  margin-top: 80px;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}
.header__content {
  text-align: center;
}
.header p {
  margin-top: 14px;
  margin: 0 auto;
  max-width: 606px;
  font-size: 24px;
  line-height: 160%; /* 38.4px */
  opacity: 0.8;
}
.header .search-form {
  margin-top: 45px;
}
.header__dot-sofa {
  position: absolute;
  left: 20.9929078014%;
  top: 63.6279069767%;
}
.header__dot-vase {
  position: absolute;
  left: 8.085106383%;
  top: 70.1395348837%;
  transform: translate(-50%, -50%);
}
.header__dot-item {
  position: absolute;
  left: 55.625%;
  top: 72.6014760148%;
}
.header__dot-wall {
  position: absolute;
  right: 3.2624113475%;
  top: 76.3720930233%;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}
.nav__logo {
  align-self: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}
.nav-list {
  display: flex;
  gap: 65px;
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 18px;
}
.nav .cart {
  align-self: center;
  justify-self: end;
  position: relative;
}
.nav .cart__count {
  display: inline-block;
  height: 25px;
  padding: 0 6px;
  line-height: 25px;
  align-content: center;
  background-color: var(--accent);
  border-radius: 40px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: -11px;
}

.search-form {
  display: flex;
  max-width: 344px;
  height: 56px;
  margin: 0 auto;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.search-form__input {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.search-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: var(--accent);
}

.info-dot {
  position: relative;
  cursor: pointer;
}
.info-dot__circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}
.info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  display: flex;
  gap: 8px;
  width: 112px;
  height: 56px;
  justify-content: center;
  padding-top: 12px;
  background-image: url("./../img/hint.svg");
}
.info-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.info-hint__radio:checked + .info-hint__radio-fake {
  background-image: url("./../img/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.info-hint__radio-fake {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: gray;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint__radio-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint__radio-fake--turquoise {
  background-color: var(--ui-turquoise);
}
.info-hint__radio-fake--turqgrayuoise {
  background-color: var(--ui-turqgrayuoise);
}/*# sourceMappingURL=main.css.map */