.card {
  position: relative;
  width: 268px;
  font-family: var(--font-cards);

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__photo {
    margin-top: 50px;
    height: 240px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
  }

  &__img {
    margin-top: -50px;
  }
  &__desc {
    position: relative;
    z-index: 3;
    display: flex;
    padding: 0 21px 27px 21px;
    padding-left: 21px;
    padding-bottom: 27px;
    flex-direction: column;
    gap: 6px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
  }

  &__category {
    color: var(--text-muted);
    font-size: 16px;
  }

  &__title {
    font-size: 22px;
    color: var(--ua-dark-blue);
  }

  &__rating {
    display: flex;
    gap: 3px;
  }

  &__price {
    display: flex;
    align-items: start;
    gap: 3px;
    font-family: var(--font-cards);
    font-size: 21px;
    font-weight: 600;

    &::before {
      content: attr(data-value);

      font-size: 15px;
    }
  }

  &__btn {
    position: relative;
    z-index: 3;
    width: 48px;
    height: 48px;
    background-color: var(--ua-dark-blue);
    border-radius: 50%;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}
