.header {
  position: relative;
  padding-top: 40px;
  background-color: var(--footer-bg);
  background-image: url("../../img/header/header-bg.jpg");
  aspect-ratio: 1440 / 1084;
  background-size: cover;
  color: var(--header-text-color);
  a {
    color: var(--header-text-color);
  }

  &__title {
    margin-top: 80px;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.8px;
    text-transform: capitalize;
  }

  &__content {
    text-align: center;
  }

  p {
    margin-top: 14px;
    margin: 0 auto;
    max-width: 606px;
    font-size: 24px;
    line-height: 160%; /* 38.4px */
    opacity: 0.8;
  }
  .search-form {
    margin-top: 45px;
  }

  /* Dots */

  &__dot-sofa {
    position: absolute;
    left: calc(296 * 100% / 1410);
    top: calc(684 * 100% / 1075);
  }
  &__dot-vase {
    position: absolute;
    left: calc(114 * 100% / 1410);
    top: calc(754 * 100% / 1075);
  }
  &__dot-item {
    position: absolute;
    left: calc(810 * 100% / 1440);
    top: calc(787 * 100% / 1084);
  }
  &__dot-wall {
    position: absolute;
    right: calc(46 * 100% / 1410);
    top: calc(821 * 100% / 1075);
  }
}
